# Bài 1: Hoàn thành notebook sau

### Bước  1. Import thư viện cần thiết

In [14]:
import pandas as pd

### Bước 2. Đọc dữ data từ url, sau đó gán cho tên biến là dataframe

In [15]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df=pd.read_csv(url,sep='\t')

### Bước 3. In 10 dòng đầu tiên

In [17]:
df.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Bước 4. Có bao nhiêu row?

In [19]:
print(len(df))

4622

### Bước 5. Có bao nhiêu column trong dataset này đó là những column nào?

In [20]:
print(df.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Bước 6.Mặt hàng nào được bán chạy nhất?

In [55]:
(df.groupby(['item_name'])['quantity']).max()

item_name
6 Pack Soft Drink                         2
Barbacoa Bowl                             1
Barbacoa Burrito                          1
Barbacoa Crispy Tacos                     2
Barbacoa Salad Bowl                       1
Barbacoa Soft Tacos                       1
Bottled Water                            10
Bowl                                      3
Burrito                                   1
Canned Soda                               4
Canned Soft Drink                         4
Carnitas Bowl                             3
Carnitas Burrito                          2
Carnitas Crispy Tacos                     2
Carnitas Salad                            1
Carnitas Salad Bowl                       1
Carnitas Soft Tacos                       1
Chicken Bowl                              3
Chicken Burrito                           4
Chicken Crispy Tacos                      2
Chicken Salad                             1
Chicken Salad Bowl                        2
Chicken Soft Tacos                        2
Chips                                     3
Chips and Fresh Tomato Salsa             15
Chips and Guacamole                       4
Chips and Mild Fresh Tomato Salsa         1
Chips and Roasted Chili Corn Salsa        2
Chips and Roasted Chili-Corn Salsa        1
Chips and Tomatillo Green Chili Salsa     2
Chips and Tomatillo Red Chili Salsa       2
Chips and Tomatillo-Green Chili Salsa     2
Chips and Tomatillo-Red Chili Salsa       3
Crispy Tacos                              1
Izze                                      1
Nantucket Nectar                          2
Salad                                     1
Side of Chips                             8
Steak Bowl                                3
Steak Burrito                             3
Steak Crispy Tacos                        2
Steak Salad                               1
Steak Salad Bowl                          2
Steak Soft Tacos                          2
Veggie Bowl                               2
Veggie Burrito                            3
Veggie Crispy Tacos                       1
Veggie Salad                              1
Veggie Salad Bowl                         1
Veggie Soft Tacos                         2
Name: quantity, dtype: int64

### Bước 7. Có tổng cộng bao nhiêu mặt hàng được bán?

In [53]:
dups_item = df.pivot_table(index=['item_name'], aggfunc='size')
print(len(dups_item))

50

### Bước 8. Có bao nhiêu sản phẩm có giá trị lớn hơn $10,00

In [64]:
df['item_price'] = df['item_price'].astype(int)
df[(int(df['item_price'])>$10)]

SyntaxError: invalid syntax (<ipython-input-64-1b668c5a30d2>, line 2)

### Bước 9: Xem kiểu dữ liệu của mỗi cột

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Bước 10: Tổng lợi nhuận thu được

In [67]:
df['item_price'] = df['item_price'].astype(int)
profit=0
for i in range(len(df)):
    profit=profit+(df['quantity'][i]*df['item_price'][i])
print(profit)

ValueError: invalid literal for int() with base 10: '$2.39 '